body {
    position: relative;
}

/* SECTION STYLES - ARTICLES.CSS */
h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
}

h2 {
    font-family: 'ROBOTO', sans-serif;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
}

h3 { /*margin-bottom:-20px;*/
}

.entry-lines {
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    padding: 15px 0;
}

.entry-lines .post {
    padding: 2.75px 0;
}

.entry-lines .post .title {
    display: inline;
    margin-right: 2px;
}

.entry-lines .post .title a {
    font-weight: bold;
}

.entry-lines .post .byline {
    color: #000;
    display: inline;
    font-size: 0.8em;
}

.entry-lines .post .byline a {
    color: #000;
}

.footer-text p {
    margin: 0 !important;
}

blockquote {
    font-size: 1.1em;
    color: #000000;
    background-color: #EBEBEB;
    margin: 0 auto;
    max-width: 740px;
    padding: 10px;
}

article {
    display: inline-block;
    width: 100%;
}

.container {
    position: relative;
}

.RC-AD-TOP-BANNER {
    margin: 10px auto;
}

.RC-AD-BOTTOM-BANNER {
    margin: 30px auto;
    min-height: 90px;
    width: 728px;
}

.RC-AD-MOBILE-BANNER {
    display: none;
}

.alpha .RC-AD-BOX-TOP, .alpha .RC-AD-BOX-BOTTOM, .alpha .RC-AD-BOX-MOBILE_1, .alpha .RC-AD-BOX-MOBILE_2 {
    display: none;
    margin: 10px auto;
}

.page-header {
    border-top: 1px solid #EBEBEB;
}

.nextArticle {
    margin: 0 auto;
    max-width: 1180px;
    overflow: hidden;
    width: 100%;
}

.contentwrapper {
    float: left;
    width: 100%;
    height: inherit;
}

.center-no-img {
    max-width: 750px;
    margin: 20px auto 40px;
}

.up-next {
    margin: 0 25% 0 43%;
    border-left: 1px solid #EBEBEB;
    height: inherit;
    padding: 0 1.5%;
    float: left;
    color: #B7B7B7;
    font-weight: bold;
}

.up-next span {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.up-next span.title {
    padding-left: 0.5em;
}

.up-next span.title a {
    color: #B7B7B7;
    text-decoration: none;
}

.up-next span.title a:hover {
    color: #d30015;
    text-decoration: underline;
}

.now-reading {
    height: inherit;
    margin-left: -100%;
    float: left;
    width: 43%;
}

.now-reading span {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    padding-left: 1em;
}

.now-reading .label {
}

.now-reading .title {
    color: #d30015;
    padding-left: 0.5em;
}

.header-social {
    border-left: 1px solid #ebebeb;
    float: left;
    height: inherit;
    margin-left: -26%;
    width: 25%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
}

.header-social .label {
    color: #919191;
    font-size: 0.8em;
    text-transform: capitalize;
}

.socialBar-clicks .label {
    color: #919191;
    font-size: 0.8em;
    text-transform: capitalize;
}

.socialBar-shares .label {
    color: #919191;
    font-size: 0.8em;
    text-transform: capitalize;
}

.socialBar-clicks {
    color: #d30015;
    display: inline-block;
    height: inherit;
    vertical-align: middle;
}

.socialBar-shares {
    color: #d30015;
    display: inline-block;
    height: inherit;
    vertical-align: middle;
}

.socialBar-divide {
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    color: #B7B7B7;
    padding: 0 3px;
}

.article-long-hero {
    height: 420px;
    position: relative;
    margin-bottom: 30px;
}

.article-long-hero.left .long-hero-details {
    position: absolute;
    top: 90px;
    left: 120px;
}

.article-long-hero.right .long-hero-details {
    position: absolute;
    top: 90px;
    right: 120px;
}

.long-hero-details {
    width: 640px;
}

.long-hero-details.black-title {
    color: #000000;
}

.long-hero-details.white-title {
    color: #FFFFFF;
}

.long-hero-details h1 {
    font-weight: 900;
    font-family: "Arial Black", arial, sans-serif;
    line-height: 1.3em;
    text-shadow: 2px 2px #000000;
}

.long-hero-details.black-title h1 {
    text-shadow: none;
}

.long-hero-details h2 {
    font-weight: 800;
    font-family: "Arial Black", arial, sans-serif;
    line-height: 1.2em;
    text-shadow: 1px 1px #000000;
    font-size: 1.5em;
    text-transform: uppercase;
}

.long-hero-chapter {
    font-size: 0.9em;
    line-height: 3em;
}

.article-long-hero.left {
    text-align: left;
}

.article-long-hero.left .long-hero-auth {
    float: right;
    position: absolute;
    bottom: 50px;
    left: 120px;
}

.article-long-hero.left .long-hero-auth div {
    float: left;
    text-shadow: none;
}

.article-long-hero.left .long-hero-auth.black-byline {
    color: #000000;
}

.article-long-hero.left .long-hero-auth.white-byline {
    color: #FFFFFF;
}

.article-long-hero.right {
    text-align: right;
}

.article-long-hero.right .long-hero-auth {
    float: right;
    position: absolute;
    bottom: 50px;
    right: 120px;
}

.article-long-hero.right .long-hero-auth div {
    float: left;
}

.article-long-hero.right .long-hero-auth.black-byline {
    color: #000000;
}

.article-long-hero.right .long-hero-auth.white-byline {
    color: #FFFFFF;
}

.long-hero-auth {
    margin-top: 20px;
    font-family: 'ROBOTO', sans-serif;
    color: #919191;
    font-size: 1em;
}

.long-hero-auth.black-byline {
    color: #000000;
}

.long-hero-auth.white-byline {
    color: #FFFFFF;
}

.long-hero-auth .auth-photo {
    float: left;
    margin-right: 15px;
}

.long-hero-auth .auth-photo img {
    width: 60px;
}

.long-hero-auth .auth-byline {
    display: inline-block;
    margin-top: 10px;
}

.long-hero-auth .auth-byline a {
    color: #FFFFFF;
}

.long-hero-auth.black-byline .auth-byline a {
    color: #000000;
}

.long-hero-auth.white-byline .auth-byline a {
    color: #FFFFFF;
}

.article-short-hero {
    height: 400px;
}

.article-short-hero picture img {
    width: 100%;
}

.mobile-hero .hero_credit,
.article-short-hero .hero_credit, .article-long-hero .hero_credit {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #ddd;
    padding: 5px 10px;
    bottom: 0;
    right: 0;
    font-size: 10px;
}

/*for the newly added link to the attribution url to have the same apperance */
.hero_credit a.attribution_url {
    color: #ddd !important;

}

.ri {
    background-position: center top;
    background-size: cover !important;
}

.sponsor-wrapper {
    background-color: #F8FAF9;
    padding: 20px 0;
    text-align: center;
}

.sponsor {
    font-size: 0.7em;
}

.sponsor img {
    vertical-align: middle;
    padding-left: 10px;
}

/*This section is for special series*/

/*above header special series*/
.header-sponsored .article-header {
    max-width: 100%;
    width: 100%;
    border-bottom: #ccc 1px dotted;
    margin-bottom: 30px;
    display: table;
    clear: both;
}

.header-sponsored .article-header-img-div {
    float: left;
    max-width: 11%;
    width: 11%;
    border-right: #EFECEC 1px solid;
    padding-right: 5px;
    padding-top: 1%;
}

.header-sponsored .article-header-img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}

.header-sponsored .news-letter-header {
    max-width: 100%;
    width: 100%;
    color: #099AD8;
    margin: 0px 0 0px 0;
    padding: 2.5% 0px 5% 14%;
    font-size: 2em;
    text-align: left;
    font-family: 'ROBOTO', sans-serif;
}

.header-sponsored .news-letter-header a {
    color: #099AD8 !important;
    text-decoration: none !important;
}

.header-sponsored .news-letter-header a:hover {
    text-decoration: underline !important;
}

.header-sponsored .article-header-title {
    width: 100%;
}

.header-sponsored .art-series {
    color: #545454;
    /*color:#B7ACAC;*/
    font-size: .6em;
    line-height: 1;
}

.header-sponsored .art-sponsored {
    color: #424242;
    /*color: #CECECE;*/
    font-size: .5em;
    text-align: center;
    margin: 0px !important;
}

@media only screen and ( min-width: 768px ) and ( max-width: 886px ) {

    .header-sponsored .art-sponsored {
        font-size: .41em;
    }
}

@media only screen and ( min-width: 375px ) and ( max-width: 767px ) {

    .header-sponsored .art-sponsored {
        font-size: .30em;
    }

    .header-sponsored .news-letter-header {
        padding: 2.5% 0px 4% 15%;
        font-size: 1.5em;
    }
}

@media only screen and ( min-width: 801px ) and ( max-width: 1023px ) {

    .header-sponsored .news-letter-header {
        padding: 2.5% 0px 6% 15%;
        font-size: 1.7em;
    }
}

@media only screen and ( min-width: 768px ) and ( max-width: 800px ) {

    .header-sponsored .news-letter-header {
        padding: 2.5% 0px 5% 15%;
        font-size: 1.6em;
    }
}

@media only screen and ( max-width: 374px ) {

    .header-sponsored .news-letter-header {
        padding: 2.5% 0px 4% 15%;
        font-size: 1.3em;
    }

    .header-sponsored .art-sponsored {
        font-size: .25em;
    }
}

/*inline text special series*/
.inline-sponsored .article-header {
    max-width: 100%;
    display: table;
    clear: both;
    float: left;
    margin-bottom: 35px;
    margin-top: 10px;
    width: 100%;
}

.inline-sponsored .article-header-img-div {
    float: left;
    max-width: 5%;
    width: 5%;
    border-right: #EFECEC 1px solid;
    padding-right: 5px;
}

.inline-sponsored .article-header-img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}

.inline-sponsored .news-letter-header {
    max-width: 100%;
    width: 100%;
    color: #000000;
    margin: 0px 0 0px 0;
    padding: 0% 0px .8% 7%;
    font-size: .8em;
    text-align: left;
    font-family: 'ROBOTO', sans-serif;
}

.inline-sponsored .news-letter-header a {
    color: #000000 !important;
    text-decoration: none !important;
}

.inline-sponsored .news-letter-header a:hover {
    text-decoration: underline !important;
}

.inline-sponsored .sponsored-description {
    font-size: .8em;
    line-height: 1.3em;
    padding-left: 7%;
    padding-right: 10px;
    color: #797979;
}

.inline-sponsored .article-header-title {
    width: 100%;
}

.inline-sponsored .art-series {
    color: #B7ACAC;
    font-size: .6em;
    line-height: 1;
}

.inline-sponsored .art-sponsored {
    color: #CECECE;
    font-size: .53em;
    text-align: center;
    margin: 0px !important;
}

.inline-signup-box {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 5px;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 750px;
    display: block;
    clear: both;
}

.inline-signup-box > div {
    width: 49.5%;
    float: left;
}

.inline-signup-box .left .align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-signup-box .left .icon {
    float: left;
    width: 40px;
    margin-right: 10px;
    text-align: right;
}

.inline-signup-box .left .icon img {
    height: 100%;
}

.inline-signup-box .left .text {
    float: left;
    width: auto;
    margin-top: 10px;
}

.inline-signup-box .left .text .small {
    font-size: 0.8em;
    line-height: 1em;
}

.inline-signup-box .left .text .medium {
    font-size: 1.1em;
    font-weight: bold;
}

.inline-signup-box .left .text .big {
    font-size: 1.2em;
    font-weight: bold;
}

.inline-signup-box .right ul.newsletters {
    display: none;
}

.inline-signup-box .right div#opt-in {
    display: none;
    font-size: 0.7em;
}

.inline-signup-box .right div.signup-row {
    border: none !important;
}

.inline-signup-box .right div.signup-row input#list_email {
    width: 65% !important;
}

.inline-signup-box .right div.signup-row input#btn_subscribe {
    width: 28% !important;
}

.inline-signup-box .right .article p {
    margin: 0px !important;
}

.inline-signup-box .right .article ul li {
    list-style-type: none !important;
}

.inline-signup-box .clear {
    clear: both !important;
    height: 0px;
    float: none !important;
    width: 100% !important;
    display: block !important;
}

@media only screen and ( min-width: 425px ) and ( max-width: 1023px ) {

    .inline-sponsored .article-header-img-div {
        max-width: 10%;
        width: 10%;
    }

    .inline-sponsored .news-letter-header {
        padding-left: 13%;
    }

    .inline-sponsored .sponsored-description {
        padding-left: 13%;
    }
}

@media only screen and ( max-width: 424px ) {

    .inline-sponsored .article-header-img-div {
        max-width: 10%;
        width: 10%;
    }

    .inline-sponsored .news-letter-header {
        padding-left: 14%;
    }

    .inline-sponsored .sponsored-description {
        padding-left: 14%;
    }
}

/*end of special series */

.article-body {
    float: left;
    width: 100%;
    border-bottom: 0px solid #EBEBEB;
}

.article-body.no_hero {
    margin-top: 0 !important;
    border-top: 1px solid #ebebeb !important;
}

.article-body p {
    margin: 35px 0;
    padding-right: 0;
    font-family: "Domine", serif;
    line-height: 1.9em;
}

.article-body ul li {
    list-style-type: disc;
}

.alpha {
    background-color: white;
    border-right: 1px solid #ebebeb;
    margin-left: 4%;
    margin-right: 390px;
    margin-top: -40px;
    padding: 1.5% 5% 1.5% 3%;
    position: relative;
}

.alpha.no_hero {
    border-right: none !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    border-top: none !important;
}

.alpha-long {
    background-color: white;
    position: relative;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.alpha-long h2 {
    font-size: 1.6em;
    margin: 30px 0;
}

.section-border {
    display: none;
    position: absolute;
    border-bottom: 2px solid #EBEBEB;
    position: absolute;
    top: 37px;
    width: 87%;
}

.article-section {
    display: none;
    background-color: #d30015;
    font-family: 'ROBOTO', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    display: inline-block;
    word-spacing: 0.7em;
    padding: 12px 15px;
    position: relative;
}

/*.article-section { background-color:#d30015; font-family:'ROBOTO', sans-serif; color:#FFFFFF; text-transform:uppercase; font-size:0.7em; font-weight:bold; display:inline-block; word-spacing:0.7em; padding:12px 15px; position:relative; }*/

.section-title {
}

.section-tab {
    border-bottom: 17px solid #710e11;
    border-right: 13px solid transparent;
    height: 0;
    position: absolute;
    right: -13px;
    top: 0;
    width: 0;
}

.article-top {
    width: 100%;
    display: inline-block;
    margin-top: 45px;
    padding-bottom: 40px;
}

.article-title-wrapper {
    float: left;
    width: 85%;
}

.article-title-wrapper .article-title {
    padding: 0 25% 0 0;
    font-family: 'ROBOTO', sans-serif;
}

.article-title-wrapper .article-subtitle,
.beneath-title-sub-title .article-subtitle {
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0 0 0;
    text-transform: uppercase;
    color: #999;
}

.article-social {
    float: left;
    width: 15%;
    text-align: right;
}

.article-social .full-socialBar {
    padding: 0;
    width: 108px;
}

.article-auth {
    margin-top: 20px;
    font-family: 'ROBOTO', sans-serif;
    color: #919191;
    font-size: 1em;
}

.auth-photo {
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;
}

.auth-photo img {
    width: 60px; /*height:60px; border-radius:30px;*/
    margin-top: -10px;
}

.auth-byline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-byline a {
    color: #d30015;
}

.auth-byline span.staff {
    font-size: 0.9em;
    font-style: italic;
}

.mobile-social-bar {
    display: none;
}

.mobile-hero {
    display: none;
}

.alpha-long .article-body-text {
    padding: 0 0 10px;
}

.alpha-long .article-body-text {
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    box-sizing: border-box;
}

.center p, .center h2, .center h3, .center .line, .center .middle-img, .center .sub-title, .center #taboolaWidget, .center .taboolaWidget {
    max-width: 750px;
    margin: 30px auto;
    padding: 0;
}

/* temp fix for evolok .center rule */
.center {
    text-align: match-parent;
    text-align: -webkit-match-parent;
}

.article-body-text {
    clear: both;
    font-family: "Domine", serif;
    font-size: 1em;
    line-height: 1.9em;
    padding: 0 5px 10px 0;
    margin-top: -30px;
}

.article-body-text #author-bio p {
    margin-bottom: 0px;
}

.article-body-text #ooyalaplayer {
    margin-top: 30px;
}

.first-para {
    font-size: 1.2em;
}

.first-para.full {
    font-family: "ROBOTO", sans-serif;
    font-size: 2.42em;
    font-weight: bold;
    color: #d30015;
}

body.article.long .pull-quote {
    border-top: 7px solid #d30015;
    background: none;
    color: #d30015;
    font-weight: bold;
    font-family: "ROBOTO", sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 260px;
    margin-left: 95px;
}

.pull-quote.long p {
    padding-top: 0;
    padding-right: 15px;
}

.pull-quote {
    background: url('/asset/img/quotes-icon.png') no-repeat scroll 0 20px transparent;
    background-image: url('/asset/img/quotes-icon.png');
    background-repeat: no-repeat;
    border-bottom: 2px solid #d30015;
    border-top: 2px solid #d30015;
    display: inline-block;
    float: left;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 10px 45px 5px -82px;
    width: 240px;
}

body.article.long .pull-quote p {
    margin-top: 0;
    margin-bottom: 20px;
}

.pull-quote p {
    padding-top: 20px;
    margin-bottom: 10px;
}

.pull-quote .author {
    font-family: 'ROBOTO', sans-serif;
    color: #919191;
    font-size: 0.6em;
    font-weight: bold;
}

.pull-quote-social {
    text-align: right;
}

.pull-quote-social div.socialBar .left > .more-wrapper .toolset_drawer {
    width: 157px;
}

.pull-quote-social div.socialBar .left > .more-wrapper .toolset_drawer .content {
    min-width: 140px;
}

.article-body-ad {
    margin-left: -205px;
}

.video-embed {
    margin: 30px 0;
}

body.article.long .body-photo-left {
    width: 240px;
    box-sizing: border-box;
}

body.article.long .body-photo-left img {
    width: 100% !important;
}

body.article.long .body-photo-left .body-photo-title {
    display: inline-block;
    padding: 5px 0 0;
    font-size: 1em;
    font-family: "Domine", serif;
    line-height: 1.5em;
}

body.article.long .body-photo-left .body-photo:hover .hover-social {
    display: none !important;
}

.body-photo-left {
    border-bottom: 2px solid #EBEBEB;
    display: inline-block;
    float: left;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 10px 45px 5px -82px;
    width: 240px;
}

.body-photo-left img {
    margin: 0;
    border-bottom: 0;
}

.body-photo-left .body-photo-title {
    margin: 0;
    padding: 5px 0 0;
    display: inline-block;
}

.body-photo-left .body-photo-byline {
    font-family: 'ROBOTO', sans-serif;
    color: #000000;
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 5px;
}

.body-photo-left .body-photo-byline a {
    color: #000000;
}

.body-photo-left .photo-caption-social {
    text-align: right;
}

.body-photo-left .hover-social {
    display: none;
}

.body-photo-left .inline-social {
    text-align: right;
}

.body-photo-left.nosocial .inline-social, .body-photo-left.nosocial .body-photo-title, .body-photo-left.nosocial .body-photo-byline {
    display: none;
}

.body-photo-left .body-photo-bottom {
    display: none;
}

.body-photo-right {
    border-bottom: 2px solid #EBEBEB;
    display: inline-block;
    float: right;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 10px 0 5px 45px;
    width: 240px;
    box-sizing: border-box;
}

.body-photo-right img {
    margin: 0;
    border-bottom: 0;
}

.body-photo-right .body-photo-title {
    margin: 0;
    padding: 5px 0 0;
    display: inline-block;
}

.body-photo-right .body-photo-byline {
    font-family: 'ROBOTO', sans-serif;
    color: #000000;
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 5px;
}

.body-photo-right .body-photo-byline a {
    color: #000000;
}

.body-photo-right .photo-caption-social {
    text-align: right;
}

.body-photo-right .hover-social {
    display: none;
}

.body-photo-right .inline-social {
    text-align: right;
}

.body-photo-right .body-photo-bottom {
    display: none;
}

.recommended-article {
    font-family: 'ROBOTO', sans-serif;
    font-size: 1em;
    border-top: 2px solid #EBEBEB;
    border-bottom: 2px solid #EBEBEB;
    display: inline-block;
    padding: 25px 0;
    line-height: 3em;
    width: 100%;
}

.recommended-article .label {
    font-size: 0.9em;
    padding: 0 0 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.recommended-article .photo {
    float: left;
    margin-right: 30px;
}

.recommended-article .photo img {
    width: 260px;
}

.recommended-article .title {
    line-height: 1em;
    font-weight: bold;
}

.recommended-article .title a.title {
    color: #d30015;
}

.recommended-article .byline {
    font-size: 1.0em;
    cursor: pointer;
    color: #919191;
}

.recommended-article .byline a {
    color: #000000;
    font-size: 0.7em;
}

.recommended-article .byline a.reco-auth {
    color: #919191;
}

.recommended-article .excerpt {
    font-family: 'Domine', serif;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-left: 290px;
}

.recommended-article .excerpt p {
    margin: 0;
}

.candidate-box {
    float: right;
    width: 260px;
    border-top: 7px solid #d30015;
    border-bottom: 2px solid #d30015;
    font-family: "ROBOTO", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-right: 260px;
    margin-left: 30px;
}

.candidate {
}

.candidate:last-child {
    border-top: 2px solid #EBEBEB;
    margin-top: 15px;
}

.candidate .order {
    text-align: left;
    padding-top: 15px;
}

.candidate .name {
    font-size: 1.2em;
}

.candidate .name .democrat {
    color: #105DC5;
    padding-left: 10px;
}

.candidate .name .gop {
    color: #d30015;
    padding-left: 10px;
}

.candidate .photo {
    margin-left: 30px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.candidate .photo.bottom {
}

.candidate .photo img {
    border-radius: 100px;
}

.candidate .state {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.8em;
}

.sponsor-banner {
    margin: 30px 0 30px 0;
}

.sub-title {
    font-weight: bold;
    font-family: "ROBOTO", sans-serif;
    font-size: 1.2em;
    margin: 20px 0;
}

.middle-img img {
    width: 750px;
}

.full-img {
    margin: 30px 0;
    display: table;
    height: 600px;
    max-width: 1180px;
    width: 100%;
}

.full-img img {
    margin-left: 0;
}

.full-img-text {
    color: #ffffff;
    display: table-cell;
    font-family: "ROBOTO", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    height: inherit;
    line-height: 1.3em;
    padding: 0 27%;
    vertical-align: middle;
}

.bottom-center {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.article-social-bottom-wrapper {
    float: left;
    width: 100%;
}

.article-social-bottom {
    margin-right: 200px;
}

.article-social-bottom .socialBar {
    padding: 0;
}

.socialBar-bottom-counts {
    float: left;
    width: 200px;
    margin-left: -200px;
    font-family: 'ROBOTO', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
}

.socialBar-top-counts {
    float: left;
    width: 325px;
    margin-left: -200px;
    font-family: 'ROBOTO', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
}

.socialBar-mobile-counts {
    float: right;
    width: 130px;
    margin-top: 20px;
    margin-left: -200px;
    font-family: 'ROBOTO', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
}

.taboolaWidget {
    border-top: 10px solid #000000;
    margin-top: 35px;
    padding: 20px 0 0;
    width: 100%;
    display: inline-block;
}

.beta {
    float: left;
    margin-left: -345px;
    width: 300px;
    padding: 2% 0;
}

.widget_slot.loaded {
    margin-bottom: 20px;
}

.story-stream-hover-wrapper {
    width: 270px;
    position: absolute;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'ROBOTO', sans-serif;
    display: none;
    z-index: 1; /*border-top:50px solid transparent; border-bottom:50px solid transparent;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

.story-stream-hover {
    background: url('/asset/img/stream-hover-bg.png') repeat scroll 0 0 transparent;
}

.mobile-close-btn {
    display: none;
    background-color: #919191;
    border-radius: 50px;
    color: #ffffff;
    line-height: 1em;
    padding: 5px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #BBBBBB;
}

.story-stream-hover-tab-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000000;
    position: absolute;
    left: 125px;
    opacity: 0.9;
    display: none;
}

.story-stream-hover-tab-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
    position: absolute;
    top: -10px;
    left: 125px;
    opacity: 0.9;
    display: none;
}

.story-stream-hover .label {
    color: #919191;
    text-transform: uppercase;
    font-size: 0.7em;
}

.story-stream-hover .title-wrapper {
    line-height: 1em;
    background: url("/asset/img/stream-icon.png") no-repeat scroll 20px 20px transparent;
    height: 40px;
    padding: 20px 0 15px 65px;
    border-bottom: 1px solid #444444;
}

.story-stream-hover .title-wrapper .label {
    text-transform: capitalize;
}

.story-stream-hover .title-wrapper .title {
    font-size: 1.2em;
    font-weight: bold;
}

.story-stream-hover .title-wrapper .title a {
    color: #FFFFFF;
}

.story-stream-hover .title-wrapper .title a:hover {
    color: #d30015;
}

.story-stream-hover .text-wrapper {
    border-bottom: 0px solid #444444;
    padding: 10px 0 0;
}

.story-stream-hover .text-wrapper .label {
    padding-left: 20px;
    font-size: 0.6em;
}

.story-stream-hover .text-wrapper .text {
    font-size: 0.75em;
    line-height: 1.3em;
    padding: 0 30px;
}

.story-stream-hover .count-wrapper {
    display: table;
}

.story-stream-hover .count-wrapper .label {
    padding-left: 30px;
    font-size: 0.6em;
    line-height: 1em;
}

.story-stream-hover .count-wrapper .count {
    padding: 0 30px;
    font-weight: bold;
    font-size: 1.2em;
}

.story-stream-hover .count-wrapper .recent-link {
    display: table-cell;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 0 20px 25px;
    border-left: 1px solid #444444;
}

.story-stream-hover .count-wrapper .recent-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.story-stream-hover .count-wrapper .recent-link ul li {
    padding: 5px 0;
}

.story-stream-hover .count-wrapper .recent-link ul li a {
    color: #FFFFFF;
}

.story-stream-hover .count-wrapper .recent-link ul li a:hover {
    color: #d30015;
}

.story-stream-hover .streamType {
    text-transform: capitalize;
    color: #919191;
}

.rec-link-body .byline a {
    font-size: 0.65em;
    font-weight: bold;
}

.upNext-popup-wrapper {
    border: 1px solid #dddddd;
    border-radius: 10px;
    bottom: 150px;
    padding: 10px 20px 20px;
    position: absolute;
    right: -400px;
    width: 300px;
    background-color: #FFFFFF;
}

.upNext-popup-wrapper .upNext-popup {
}

.upNext-popup-wrapper .upNext-popup .label {
    border-bottom: 1px dotted #dbdbdb;
    color: #b7b7b7;
    font-family: "Roboto", sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0;
}

.upNext-popup-wrapper .upNext-popup .label .close {
    float: right;
    color: #DBDBDB;
    cursor: pointer;
}

.upNext-popup-wrapper .upNext-popup .photo {
    position: relative;
    min-height: 65px;
}

.upNext-popup-wrapper .upNext-popup .photo img {
    width: 300px;
}

.upNext-popup-wrapper .upNext-popup .title-wrapper {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    display: table;
    height: auto;
    padding: 10px 0 25px;
    left: 0;
    position: absolute;
    width: 100%;
}

.upNext-popup-wrapper .upNext-popup .title-wrapper .title {
    display: table-cell;
    vertical-align: middle;
}

.upNext-popup-wrapper .upNext-popup .title-wrapper .title a {
    color: #ffffff;
    display: block;
    font-size: 0.9em;
    padding-left: 15px;
}

.upNext-popup-wrapper .upNext-popup .byline {
    bottom: 10px;
    color: #afafaf;
    font-size: 0.8em;
    left: 0;
    padding-left: 15px;
    position: absolute;
}

/* MISC. OVERRIDES */
body.article .header-social .socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer {
    left: -190px
}

.calcIframe iframe {
    height: 1225px;
}

.ndn_separator {
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.ndn_article_body_title {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 5px 0;
    font-family: "Domine", serif;
    display: none;
}

/*Longform member CSS */
.not_mobile_options, .mobile_options_footer {
    font-family: 'ROBOTO', sans-serif;
    line-height: 1.3em;
}

.not_mobile_options {
    float: right;
    padding-top: 5px;
    padding-left: 10px;
}

@media only screen and ( max-width: 767px ) {

    .not_mobile_options {
        display: none;
    }

    .inline-signup-box > div {
        width: 100%;
        float: none;
    }
}

/* RESPONSIVE STYLES */

@media only screen and ( max-width: 1179px ) {

    .article-short-hero {
        height: 33.9vw;
    }
}

@media only screen and ( min-width: 1025px ) and ( max-width: 1266px ) {
    .up-next {
        margin: 0 36% 0 35%;
    }

    .now-reading {
        width: 35%;
    }

    .header-social {
        width: 35%;
        margin-left: -36%;
    }

    .candidate-box {
        margin-right: 130px;
    }
}

@media only screen and ( max-width: 1111px ) {
    .recommended-article .photo {
        width: 100%;
    }

    .recommended-article .photo img {
        width: 100%;
    }

    .recommended-article .excerpt {
        margin-left: 0;
    }
}

@media only screen and ( max-width: 1024px ) {
    .full-img {
        height: 300px;
    }

    .full-img-text {
        font-size: 3vw;
    }

    .candidate-box {
        margin-right: 10px;
    }

    .alpha-long .article-body-text {
        padding: 0 10px 10px;
    }

    .pull-quote.long {
        width: 100%;
        margin-left: 0;
    }

    .pull-quote.long .socialBar {
        padding: 0;
    }

    /*.body-photo-left { float:none; margin:0; width:100%; }*/
    body.article.long .body-photo-left { /*float:none; margin:0; width:100%;*/
        margin-left: 0;
    }
}

@media only screen and ( min-width: 768px ) and ( max-width: 1024px ) {
    .article-long-hero {
        height: 300px;
    }

    .article-long-hero.left .long-hero-details {
        left: 10px;
        top: 10px;
    }

    .article-long-hero.left .long-hero-auth {
        bottom: 20px;
        left: 10px;
    }

    .article-long-hero.right .long-hero-details {
        right: 10px;
        top: 10px;
    }

    .article-long-hero.right .long-hero-auth {
        bottom: 20px;
        right: 10px;
    }

    .alpha {
        border-right: none;
        border-top: none;
        margin-right: 300px;
        padding: 1.5% 3% 1.5% 3%;
        margin-left: 0;
        margin-top: 0;
    }

    .alpha #related-footer {
        margin-bottom: 20px;
    }

    .section-border {
        top: 28px;
    }

    .article-title-wrapper .article-title {
        padding: 0;
    }

    .article-title-wrapper {
        width: 80%;
    }

    .article-social .socialBar {
        padding: 15px 0 0;
    }

    .article-body p {
        padding-right: 0;
    }

    h1 {
        font-size: 2.4em;
        padding-right: 15px;
    }

    .article-social {
        margin-left: 20px;
    }

    .pull-quote {
        float: none;
        margin: 0;
        width: 100%;
    }

    .hover-social {
        width: 96%;
    }

    .article-body-ad {
        display: none;
    }

    .recommended-article .photo {
        width: 100%;
    }

    .beta {
        margin-left: -300px;
    }

    .up-next {
        margin: 0 20% 0 0;
    }

    .now-reading {
        display: none;
    }

    .header-social {
        width: 38%;
        margin-left: -39%;
    }

    .story-stream-hover-wrapper {
        width: 468px;
    }

    .mobile-close-btn {
        display: block;
    }

    .full-img-text {
        font-size: 3vw;
    }

    .recommended-article .excerpt {
        margin-left: 0;
    }

}

@media only screen and ( max-width: 768px ) {
    .story-stream-hover-wrapper {
        width: 100%;
    }

    .recommended-article .photo img {
        width: 100%;
    }

    .calcIframe iframe {
        height: 1570px;
    }

    .article-body-text #ooyalaplayer {
        width: 100% !important;
    }

    .article-body-text .ndn_embedContainer {
        width: 100% !important;
    }
}

@media only screen and ( max-width: 767px ) {

    .RC-AD-TOP-BANNER, .RC-AD-BOTTOM-BANNER {
        display: none;
    }

    .RC-AD-MOBILE-BANNER {
        display: block;
        margin: 10px auto;
        width: 320px;
        min-height: 50px;
    }

    .RC-AD-MOBILE-BANNER div {
        margin: 0 auto;
    }

    .alpha .RC-AD-BOX-TOP, .alpha .RC-AD-BOX-MIDDLE, .alpha .RC-AD-BOX-BOTTOM, .alpha .RC-AD-BOX-MOBILE_1, .alpha .RC-AD-BOX-MOBILE_2 {
        display: block;
    }

    .alpha .RC-AD-BOX-TOP {
        margin-bottom: 15px;
    }

    .article.long .mobile-social-bar {
        padding-left: 10px;
    }

    .article-long-hero {
        display: block;
        height: 300px;
    }

    .article-long-hero .auth-photo {
        display: block;
    }

    .article-long-hero.left .long-hero-details {
        top: 20px;
        left: 10px;
        width: 240px;
    }

    .article-long-hero.left .long-hero-auth {
        left: 10px;
        bottom: 60px;
    }

    .article-long-hero.right .long-hero-details {
        top: 10px;
        right: 10px;
        width: 300px;
    }

    .article-long-hero.right .long-hero-auth {
        bottom: 20px;
        right: 10px;
    }

    .article-short-hero {
        display: none;
        height: 400px;
        margin-top: 50px;
    }

    .ri {
        background-position: center -27px;
    }

    .article-body {
        float: none;
        margin: 0 auto 220px !important;
        width: 100%;
    }

    .alpha-long .first-para.full {
        font-size: 1.42em;
    }

    .alpha {
        width: auto;
        padding: 0 3%;
        margin: 0 0 0 0;
        border-right: none;
        border-top: none;
    }

    .alpha-long {
        width: 100%;
        padding: 0 3%;
        margin: 0;
        border-right: none;
    }

    .article-body-text {
        padding: 0;
    }

    .article-body-text #ooyalaplayer {
        width: 100% !important;
        height: 250px !important;
        margin-top: 40px;
    }

    .article-body-text .ndn_embedContainer {
        width: 100% !important;
    }

    .mobile-hero {
        display: block;
        height: auto;
        margin-top: 0;
        height: 33.9vw;
    }

    .mobile-hero img {
        width: 100%;
    }

    div.alpha.no_hero .mobile-hero {
        display: none !important;
    }

    .article-body p {
        margin: 30px 0;
        padding-right: 0;
    }

    .article-body-ad {
        display: none;
    }

    .article-social {
        display: none;
    }

    .article-social-bottom-wrapper {
        display: none;
    }

    .socialBar-bottom-counts {
        display: none;
    }

    .socialBar-top-counts {
        display: none;
    }

    .socialBar-mobile-counts {
        display: block;
    }

    .article-top {
        border-bottom: none;
        margin-top: 10px;
        padding-bottom: 0;
    }

    .article-title-wrapper {
        width: 100%;
    }

    .article-title-wrapper .article-title {
        padding: 0;
    }

    h1 {
        font-size: 1.4em;
    }

    .article-section {
        top: 30px;
    }

    .section-border {
        top: 46px;
        width: 94%;
    }

    .article-auth {
        margin-top: 0;
    }

    .auth-photo {
        display: none;
    }

    .auth-byline {
        margin-top: 10px;
    }

    .byline-date {
        display: none;
    }

    .mobile-social-bar {
        display: block;
    }

    .mobile-social-bar .socialBar {
        width: 200px;
        padding: 20px 0 0;
        margin: 0;
    }

    .mobile-social-bar .socialBar .left .icon {
        background: url('/asset/img/mobile-icon-set.png') no-repeat scroll 0 0 transparent;
    }

    .mobile-social-bar .socialBar .left .sms_icon {
        background-position: -75px 0;
    }

    .mobile-social-bar .socialBar .left > .more-wrapper .icon.email_icon {
        background-position: -113px 0;
    }

    .mobile-social-bar .socialBar .left > .more-wrapper .toolset_drawer {
        background-color: #000000;
        display: none;
        left: -80px;
        opacity: 0.9;
        position: absolute;
        top: 30px;
        width: 265px;
    }

    .mobile-social-bar .socialBar .left > .more-wrapper .toolset_drawer .tab-header {
        background-color: #000000;
    }

    .mobile-social-bar .socialBar .send-btn-form {
        background-color: #000000;
        color: #FFFFFF;
    }

    .sharepoint-wrapper {
        margin: 20px 0 0;
    }

    .pull-quote.long p {
        margin: 10px 0 0;
    }

    .pull-quote {
        float: none;
        width: 100%;
        margin: 0;
    }

    body.article.long .body-photo-left {
        margin-left: 0; /*width:100%;*/
    }

    /*.body-photo-left { float:none; width:100%; margin:0; border-top:2px solid #EBEBEB; padding-top:15px; }*/
    .body-photo-left .body-photo-title {
        margin: 0;
    }

    .body-photo-left .photo-caption-social .socialBar {
        padding: 0;
    }

    .recommended-article {
        padding: 0 0 10px 0;
        line-height: 2em;
    }

    .recommended-article .title {
        clear: both;
    }

    .recommended-article .label {
        padding: 0;
    }

    .recommended-article .photo {
        margin-right: 0;
        width: 100%;
    }

    .recommended-article .photo img {
        width: 100%;
    }

    .recommended-article .excerpt {
        margin-left: 0;
    }

    .hover-social .socialBar {
        padding: 15px 0 0 5px;
    }

    .hover-social div.socialBar .left > .more-wrapper .toolset_drawer {
        top: 30px;
        left: -111px;
    }

    .mobile-close-btn {
        display: block;
    }

    .candidate-box {
        margin: 0 auto 30px;
        width: 100%;
    }

    .candidate .photo {
        margin: 0 auto;
    }

    .middle-img img {
        width: 100%;
    }

    .full-img-text {
        font-size: 4vw;
        padding: 0 18%;
    }

    .beta {
        display: none;
    }

}

@media only screen and ( max-width: 590px ) {
    .section-border {
        top: 16px;
    }

    .article-section {
        top: 0;
    }

    .article-top {
        margin-top: 10px;
    }

    .article-body-text {
        margin-top: -20px;
    }

    body.long .article-body-text {
        margin-top: 0;
    }
}

@media only screen and ( max-width: 469px ) {

    .article-body-text .ad_wrapper_box {
        float: none;
    }

    .article-body-text .ad_wrapper_box .RC-AD {
        padding: 0;
        margin: 0 auto;
    }
}

@media only screen and ( max-width: 414px ) {
    .alpha-long {
        max-width: 389px;
    }

    body.article.long .pull-quote {
        margin-left: 0;
        font-size: 1.2em;
    }

    body.article.long .pull-quote p {
        padding-top: 0;
    }

    #facebox .body {
        width: 375px !important;
    }

    body.article.long .body-photo-left {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }

    body.article.long .body-photo-left img {
        height: 100% !important;
    }

    body.article.long .body-photo-right {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }

    body.article.long .body-photo-right img {
        height: 100% !important;
        width: 100% !important;
    }
}

@media only screen and ( max-width: 375px ) {
    .alpha-long {
        max-width: 352px;
    }

    #facebox .body {
        width: 335px !important;
    }
}

@media only screen and ( max-width: 360px ) {
    .alpha-long {
        max-width: 338px;
    }

    #facebox .body {
        width: 280px !important;
    }
}

@media only screen and ( max-width: 320px ) {
    .alpha-long {
        max-width: 301px;
    }
}

/* PRINT STYLES */

@media print {

    .RC-AD {
        display: none !important;
    }

    #masthead .alpha-wrapper .verticals-wrapper .full-site-arrow,
    #masthead .beta-wrapper {
        display: none;
    }

    #masthead-wrapper {
        position: static !important;
    }

    body {
        margin: 0;
    }

    article .article-body p {
        font-size: 14px;
        line-height: normal;
        font-family: Arial, sans-serif;
    }

    article .progress-bar {
        display: none;
    }

    article .page-header {
        display: none;
    }

    article .beta {
        display: none;
    }

    article .article-short-hero {
        display: none;
    }

    article .alpha {
        margin: 0;
        padding: 0;
        border: none;
    }

    article .mobile-social-bar {
        display: none;
    }

    article #related-footer {
        display: none;
    }

    article .article-social-bottom-wrapper {
        display: none;
    }

    article .socialBar-bottom-counts {
        display: none;
    }

    article .comments-wrapper,
    article .comments-count,
    article #comments-container {
        display: none;
    }

    article .recommended-article {
        display: none;
    }

    article #taboolaWidget,
    article #taboola-bottom-main-column {
        display: none;
    }
}

/*ARTICLE LOAD MORE BUTTON*/
#load_more_wrapper {
    display: table;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    width: 180px;
    margin: 0px auto 20px;
    color: white;
    text-align: center;
    vertical-align: text-top;
    height: 38px;
    padding: 3px 10px 0px;
    padding-top: 20px;
}

#load_more_wrapper #load_more {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    width: 300px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    border: none;
}

/*no background color on stream tags on landing page*/
.article-landing .stream-tag {
    background-color: white;
}

/*NEW VIDEO CSS FOR MOBILE ADS*/
.article .top-banner .RC-AD-BOX-TOP,
.article .alpha-container .RC-AD-BOX-MIDDLE,
.article .alpha .RC-AD-BOX-MIDDLE,
.article .alpha-container .RC-AD-BOX-BOTTOM,
.article .alpha .RC-AD-BOX-BOTTOM,
.article .alpha-container .RC-AD-BOX-BOTTOM-600,
.article .alpha .RC-AD-BOX-BOTTOM-600,
.article .alpha-container .RC-AD-BOX-MOBILE_1,
.article .alpha .RC-AD-BOX-MOBILE_1,
.article .alpha-container .RC-AD-BOX-MOBILE_2,
.article .alpha .RC-AD-BOX-MOBILE_2 {
    margin: 5px auto;
}

@media only screen and ( min-width: 768px ) {
    .article .top-banner .RC-AD-BOX-TOP,
    .article .alpha-container .RC-AD-BOX-BOTTOM-600,
    .inline-rc-ad-middle {
        display: none;
    }
}

/*# sourceMappingURL=articles.css.map */

/*Tiny class FREE STYLE OPTION*/
.body-photo-free-style .hover-social {
    display: none;

}

.body-photo-free-style .body-photo {
    margin-right: 15px;
    float: left;
}

.article.long article {
    position: relative;
}

.article.long article .hero_credit {
    background: rgba(0, 0, 0, 0.5);
    color: #ddd;
    padding: 5px 10px;
    bottom: 30px;
    right: 0;
    font-size: 10px;
    display: inline-block;
    position: absolute;

}

.article.long article .long-hero-auth.black-byline {
    float: right;
    position: absolute;
    bottom: 80px;
    left: 120px;
}
/*Investigtions long format template*/
.long-hero-auth.float-right {
    left: unset;
    right: 120px;
}

.long-hero-auth.float-left {
    right: unset;
    left: 120px;
    text-align: left;
}
.long-hero-auth.float-right .auth-byline{
    float:right !important;
}
.color-white, .color-white a{
    color:#fff !important;
}
.color-black a, .color-black{
    color:#000 !important;
}


.ds_cpp_width{
    margin-bottom: 0 !important;
}


@media print{
    .article-long-hero{
        margin:20px 0;
        height: unset;
    }
    .article-long-hero.right .long-hero-details{
        position: relative;
        top:0;
        left: 0;
    }
    .article-long-hero.right{
        text-align: left;

    }
    .long-hero-details h1{
        color:#000;
        text-shadow: unset !important;
    }
    .article-long-hero.right .long-hero-auth {
        position: relative;
        display: block;
        float: none;
        top:0;
        margin-top: 10px;
    }
    .color-white, .color-white a {
        color: #000 !important;
    }
    .long-hero-auth.float-left{
        left:0;
    }
    .auth-byline .color-white{
        color:#000 !important;
    }
}

.pa-issue-link {
    margin-bottom: 30px;
}

@media only screen and (max-width:1350px){
    body.article .alpha .body-photo-left { margin:10px 45px 5px 0; }
}

/* Fullscreen Image Modal */
.rc_fullscreen_click {
    cursor: pointer;
}

.rc_fullscreen_modal {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1000000;
    background: rgba(0,0,0,0.75);
}

.rc_fullscreen_modal .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 30px; bottom: 30px; left: 30px; right: 30px;
}

.rc_fullscreen_modal .close {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255,255,255,0.75);
    position: fixed;
    top: 60px; right: 60px;
    color: black;
    border-radius: 50px;
    border: 3px solid #999;
    font-family: Helvetica, Arial, Sans-Serif;
}
.rc_fullscreen_modal .close:hover {
    background-color: rgba(255,255,255,0.95);
}

@media only screen and ( max-width: 767px ) {

    .rc_fullscreen_modal .image {
        top: 15px; bottom: 15px; left: 15px; right: 15px;
    }

    .rc_fullscreen_modal .close {
        top: 30px; right: 30px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
}

/**
 * The following three lines were in the rcp3.css
 */
@media only screen and (min-width: 1024px){

    .article-title-wrapper .article-subtitle,
    .beneath-title-sub-title .article-subtitle {
        padding-left: 3px;
    }
}

@media only screen and (min-width: 1025px){
    .article-title-wrapper .article-subtitle,
    .beneath-title-sub-title .article-subtitle {
        white-space: nowrap;
        margin-bottom: 0;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px){
    .article-title-wrapper .article-subtitle,
    .beneath-title-sub-title .article-subtitle {
        padding-left: 3%;
    }
}