.header-sponsored .news-letter-header{
    padding-top: 1%;
}
.article-top-wrapper{
    padding-top: 5px;
}

.article-social {
    width: 172px;
}
/* .article-auth{
    padding-bottom: 15px;
} */
/*  Responsive Styles */
@media only screen and ( min-width: 768px ) {

    .article-auth{
        /* margin-top: 17px; */
        margin-top: -2px;
        font-size: .9em;
        /* padding-bottom: 28px; */
        padding-bottom: 33px;
    }
    .article-top-wrapper {
        border-bottom: 0px solid #d30015;
        margin-top: 5px;
        padding-bottom: 8px;
        display: flow-root;
    }
    .hide-module{
        display: none;
    }

    /*New Image Style start*/
    .article-short-hero picture img{
    /*Hide old image*/
        display: none;
    }
    .article-short-hero{
    /*Adjust height from 400px because old image is hidden*/
    height: 37px;
    }
    .new-image-header {
        position: absolute;
        margin-top: -7px;
        /*min-height:435px;*/
        margin-right:8px;
    }
    .new-image-header img{
        width: 100%;
    }
    .new-image-header .hero_credit {
    
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        color: #ddd;
        padding: 5px 10px;
        bottom: 0;
        right: 0;
        font-size: 10px;
    
    }
    .mobile-hero .hero_credit, .article-short-hero .hero_credit, .article-long-hero .hero_credit {
        display: none;
    }
    /*New Image Style End*/

    .article-body-text{
        margin-top: 416px;
    }
    .page-header {
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
    }
    .alpha{
        border-top: 0 solid #ebebeb;
        margin-top: 38px;
        margin-left: 0%;
        padding-left: 0%;
    }
    .article-top-wrapper{
        margin-top:1px;
        border-top: 1px solid #ebebeb;
    }
    .beta{
        z-index: 3333;
        /*margin-top: -45px;*/
    }
    .article-title{
        padding: 10px 1px 0 1px;
    }
    .article-title h1 {
        font-size: 3.2em;
        line-height: .9em;

        /* font-family: "Domine", serif; */
    }
    /*.article-body{
        margin-top: 0px;
    }*/
    .auth-byline{
        display: block;
    }
    .page-header{
        display: none;
    }
    .article-title-wrapper{
        border-top: 0 solid #ebebeb;
        width: calc(100% - 172px);
    }
    .header-social{
        float: right;
    }
    /* .contentwrapper{
        display: none;
    } */
    .article-title-wrapper .article-title{
        padding: 8px 1px 0 3px;
        display: inline-block;
    }
    .social_toolbar .tool.comments {
        display: block;
        background:url("https://www.realclearpolitics.com/asset/img/comment-icon.png") no-repeat;
        background-position: 1px 0;
    }
    div.socialBar{
        width: 100%;
        box-sizing: border-box;
    }
    .comment-title-icon{
        padding-right: 5px;
        padding-bottom: 6px;
        height: 25px;width: 26px;background-color: red;float: left;margin-top: 0;margin-right: 5px; background:url('https://www.realclearpolitics.com/asset/img/comment-icon.png') no-repeat;
    }
    .article-body p{
        margin-right: -25px;
    }
    .auth-author{
        padding-left: 5px;
    }
    .article-auth {
        margin-top: -20px;
        border-bottom: 1px solid #ebebeb;
    }
    .article-title-wrapper .article-subtitle{
        padding-left: 3%;
    }
    .new-image-header picture { top:0 !important; }

   
}

@media only screen and ( min-width: 1025px ) {

    .new-image-header img{
        width: 100%;        
    }
    
    .new-image-header { min-height:435px; }
    
    .alpha{
        padding: 1.5% 3% 1.5% 3%;
    }
    .article-body p{
        padding-right: 3%;
    }
    .article-body-text {
        margin-top: 0;
    }
    .new-image-header .hero_credit{
        right: 0;
    }
    .article-social .socialBar{
        padding-top: 13px;
    }
    .article-auth {
        margin-top: 0;
        display:inline-block;
        width:100%;
        margin-bottom:32px;
        padding-bottom:15px;
    }
    .article-title-wrapper{
        width: calc(100% - 172px);
    }
    .auth-date{
        padding-right: 1%;
    }
    /* div.socialBar{
        padding-left: 39px;
    } */
    
    .beta { margin-top:-45px; }
    
    .article-body { margin-top:-74px; }

    .article-title-wrapper .article-subtitle{
       
        white-space: nowrap;
        margin-bottom: 0;
        margin-top: 5px;
    }

}

 @media only screen and ( min-width: 1024px ) {
    .article-social {
        float: right;
        width: 172px;
    }
    .article-title-wrapper .article-subtitle{
        padding-left: 3px;

    }
    .article-body-text {
        margin-top: 45px;
    }

}

@media only screen and ( min-width: 1024px ) {

   .alpha {
       padding-left: 0 !important;
   }

}

@media only screen and ( min-width: 768px ) and ( max-width: 1024px ) {

    .new-image-header img{
        width: 100%;
        

    }
    .alpha{
        padding: 0% 3% 1.5% 3%;
        margin-top:0;
    }
    .article-body p{
        padding-right: 3%;
    }
    
    .new-image-header { margin-top:-10px; margin-right:0; min-height:245px; }
    
    .new-image-header .hero_credit{
        right: 0;
    }
    .article-social .socialBar{
        padding-top: 13px;
    }
    .article-auth {
        margin-top: 0;
        border-bottom: 1px solid #ebebeb;
        display: inline-block;
        width: 100%;
        margin-bottom: 17px;
        padding-bottom: 15px;

    }
    .article-title-wrapper{
        width: calc(100% - 172px);
    }
    .auth-date{
        padding-right: 2%;
        float: right;
    }
    .auth-author{
        padding-left: 5px;
        float: left;
    }
    .article-top-wrapper{
        border-top: 1px solid #ebebeb;
    }
    div.socialBar{
        padding-left: 39px;
    }
    
    .article-body { margin-top:0; }
    
    .beta { margin-top:-25px; }
} 

@media only screen and ( min-width: 768px ) and ( max-width: 1023px ) {
.article-body-text {
        margin-top: 45px;
    }
    .article-title h1{
        font-size: 2.9em;
        line-height: 1em;
    }
    .article-title-wrapper .article-title{
        padding: 8px 1px 0 3%;

    }
    .auth-author{
        padding-left: 3% !important;
    }
    .auth-date{
        padding-right: 1%;
    }

}

@media only screen and ( max-width: 768px ) {
    
}
@media only screen and ( max-width: 767px ) {
    .mobile-social-bar{
        display: grid;
        margin-bottom: -33px;
    }
}

@media only screen and ( max-width: 767px ) {
    .non-mobile-title{
        display: none;
    }
   .new-image-header{
       display: none;
   }

   .alpha{
        padding: 1.5% 3% 1.5% 3%;
    }
    .article-body p{
        padding-right: 3%;
    }
    .mobile-hero img{
        width: 100%;
    }
    .mobile-hero .hero_credit, .article-short-hero .hero_credit, .article-long-hero .hero_credit{
        /* right: 2%; */
        right: 0;
    }
    .mobile-social-bar .socialBar{
        padding: 8px 0 0;
    }
    .mobile-hero{
        /* margin-top: -20px; */
        margin-top: 0;
        height: 32vw;
    }

}

@media only screen and ( max-width: 590px ) {

}

@media only screen and ( max-width: 469px ) {

}

@media only screen and ( max-width: 414px ) {


}
@media only screen and ( min-width: 767px ) and ( max-width: 767px ) {
    .mobile-style {
        margin-top: 10px !important;

    }

}

@media only screen and ( max-width: 375px ) {
    .mobile-style {

        float: none !important;
        display: inline-block;
        margin-top: 41px !important;
        margin-bottom: -24px !important;
    
    }

}

@media only screen and ( max-width: 360px ) {


}

@media only screen and ( max-width: 320px ) {


}

@media only screen and (min-width: 1024px) and (max-width: 1195px){
    .article-title-wrapper .article-title {
        padding: 8px 1px 0 3%;
    }
    .auth-author, .alpha {
        padding-left: 3% !important;
    }

}
