

/*--FONTS--*/

.headline-text {font-family: 'Montserrat', sans-serif;
    font-size: 42x;
    color: white;
   

}

.summary-text {

font-family: 'Merriweather', serif;
font-size: 16px;
color: white;
}





/*--NAVBAR--*/



.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
 
}

.navbar .navbar-nav .nav-link {
    color:black;
    font-weight: 600;
    font-size: 14px;
}

.navbar .navbar-toggler {
    border: 0;
}




/*--Jumbotron--*/

.jumbotron {
    background-color: #55c288;
    border-radius: 0px;
    border: none;
}

.section-top {

    text-align: left;
}

.feature-content { color: white;

    
}

.jumbotron-headline {

    padding-top: 30px;
    padding-bottom: 30px;
}



/*--Cards 3 Column--*/


.card-img-top{

    max-height: 170px;
}

.card-deck {

    padding-top:50px;
padding-bottom: 50px;
margin-left: 20px;
margin-right: 20px;



}



/*--Cards 2 Column--*/

.large-cards {

    padding-top:50px;
padding-bottom: 50px;
}


@media screen and (max-width: 600px) {
    .jumbotron-headline {
      font-size: 32px;
    }
  }

    /*--Graph Style--*/

.graph-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px ;
    padding-top: 30px;
    

}




    /*--Map Style--*/

    div#map {
        min-height: 360px;
    }
    



  /*--FOOTER--*/

.page-footer {
    background-color:#101820;}

    .footer-title {

        color: white;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 6px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: left;

    }

    .footer-heading {
        color: #d2c295;
        font-size: .75rem;
        font-weight: bold;
        margin-top: 80px;


    }

    .useful-list a, 
    .social-list a {
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
    }